html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#quizz {
  background-color: #d8f9fa;
  width: 30rem;
  height: 35rem;
  padding: 2rem;
  margin: 30px 0;
  text-align: center;
  border-radius: 3rem;
}
h1 {
  color: rgb(75, 115, 121);
  font-size: 3rem;
  text-align: center;
}
#pregunta {
  font-size: 1.7rem;
  color: #5a7772;
}
.boton {
  background-color: #34a3a3;
  color: white;
  width: 250px;
  font-size: 20px;
  border-radius: 0.3rem;
  padding: 10px 10px;
  margin: 10px 40px 10px 0px;
  outline: 0;
}
.boton:hover {
  cursor: pointer;
  background-color: #5a7772;
}

#progreso {
  font-size: 20px;
}
